/**
 * Tree project
 * Mobile API documentation
 *
 * OpenAPI spec version: 1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ChallengesApi {

  /**
   * 
   * Expected answers:
   *   code 200 :  (Success. Will return full post.)
   */
  def challengesDoneidTASKIDPost(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://virtserver.swaggerhub.com/Gsol/tree/1", "/challenges/done?id=TASK_ID", "application/json")
      .withSuccessResponse[Unit](200)
        /**
   * 
   * Expected answers:
   *   code 200 :  (Success. Will return full post.)
   */
  def challengesListGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/Gsol/tree/1", "/challenges/list", "application/json")
      .withSuccessResponse[Unit](200)
      

}

