/**
 * Tree project
 * Mobile API documentation
 *
 * OpenAPI spec version: 1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object NewsApi {

  /**
   * 
   * Expected answers:
   *   code 200 :  (Success. Will return news list with pagination info)
   * 
   * @param `type` Required. Post type from available values list
   * @param limit Not required. Default is 15 item per page
   */
  def newsGet(`type`: String, limit: Option[Int] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/Gsol/tree/1", "/news", "application/json")
      .withQueryParam("limit", limit)
      .withQueryParam("type", `type`)
      .withSuccessResponse[Unit](200)
        /**
   * ID should be replaced with id fron the list.
   * 
   * Expected answers:
   *   code 200 :  (Success. Will return full post.)
   */
  def newsIDGet(): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, "https://virtserver.swaggerhub.com/Gsol/tree/1", "/news/ID", "application/json")
      .withSuccessResponse[Unit](200)
      

}

